<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fortranit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fortranit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <fortranit.My.MySettings>
            <setting name="BIN" serializeAs="String">
                <value />
            </setting>
            <setting name="COMPILER" serializeAs="String">
                <value />
            </setting>
            <setting name="EXE" serializeAs="String">
                <value />
            </setting>
            <setting name="SOURCE" serializeAs="String">
                <value />
            </setting>
            <setting name="LIBRARY" serializeAs="String">
                <value />
            </setting>
            <setting name="PROGRAMNAME" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="PROGRAMLIB" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="PROGRAMSETTINGS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="NewName" serializeAs="String">
                <value />
            </setting>
            <setting name="CODE" serializeAs="String">
                <value />
            </setting>
            <setting name="PROGRAMMAIN" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="CODETEMPLATE" serializeAs="String">
                <value>@echo off
rem     ------------------------------------------------------------------------------
rem     This compilation script has been created by Fortran-It! (c) M. R. Omar, 2017.
rem     Generated on 12/7/2017 12:05:43 PM
rem     ------------------------------------------------------------------------------
rem     If you don't have any idea what's going on here, please refer to the program
rem     manual. Go to the project settings form, on the menu strip, select About &gt;
rem     Manual.
rem     ------------------------------------------------------------------------------

    if not exist @OutputPath (  
        mkdir @OutputPath
    )   
    PATH = @BinPath;@Path
    set LIBRARY_PATH = @LibraryPath

    if @CompilerName == "gfortran" (
        @CompilerName -o @OutputPath\@ProgramName @MainSource @SourceLinks @Modules @Settings
    )

    if @CompilerName == "g77" (
        @CompilerName -o @OutputPath\@ProgramName @MainSource @SourceLinks @Settings
    )

</value>
            </setting>
            <setting name="CurrentProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SOURCEEDITOR" serializeAs="String">
                <value />
            </setting>
            <setting name="FortranSourceTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="KeywordColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="StringsColor" serializeAs="String">
                <value>Salmon</value>
            </setting>
            <setting name="TypeColor" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="NumericColor" serializeAs="String">
                <value>Plum</value>
            </setting>
            <setting name="CommentsColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="SubroutinesColor" serializeAs="String">
                <value>PaleTurquoise</value>
            </setting>
            <setting name="ForeGroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CurrentLine" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SelectionColor" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>34, 34, 34</value>
            </setting>
            <setting name="LineNumberColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="IsItalicComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Consolas, 9pt</value>
            </setting>
            <setting name="DefaultCompilerName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultBin" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLib" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultProjectDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="PROGRAMMOD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OriginalCase" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorOpacity" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="Indent" serializeAs="String">
                <value>3</value>
            </setting>
        </fortranit.My.MySettings>
    </userSettings>
    <applicationSettings>
        <fortranit.My.MySettings>
            <setting name="SCRIPT" serializeAs="String">
                <value />
            </setting>
            <setting name="SCRIPTTEMPLATE" serializeAs="String">
                <value>@echo off
rem     ------------------------------------------------------------------------------
rem     This compilation script has been created by Fortran-It! (c) M. R. Omar, 2017.
rem     ------------------------------------------------------------------------------

    if not exist @OutputPath (  
        mkdir @OutputPath
    )   
    PATH = @BinPath;@Path
    set LIBRARY_PATH = @LibraryPath

    if @CompilerName == "gfortran" (
        @CompilerName -o @OutputPath\@ProgramName @MainSource @SourceLinks @Modules @Settings
    )

    if @CompilerName == "g77" (
        @CompilerName -o @OutputPath\@ProgramName @MainSource @SourceLinks @Settings
    )
</value>
            </setting>
        </fortranit.My.MySettings>
    </applicationSettings>
</configuration>
